body{
   
    background-color: darkseagreen;
}
#headerSection{
    padding: 5px;
}
#headerSection h1{
    font-family: cursive;
}
input{
    padding: 10px;
    border-radius: 5px;
}
#dropbox{
    padding: 10px;
    border-radius: 5px;
    width: 15%;
}
#loginbutton{
    padding: 5px;
    border-radius: 5px;
    background-color: blue;
    color: white;
    font-size: 15px;
}